<template name="hospital">
    <section class="hospital">
        <div class="hospital-top">
            <h1>HGE</h1>
        </div>

        <div class="chart-holder">
            <canvas id="myChart" height="100"></canvas>
        </div>
        
        <div class="vote-user">
            <p>Baseado no atendimento recebido qual a nota que você daria a este hospital público?</p>
            <div class="vote-el">
                <span><i class="fa fa-thermometer-empty" aria-hidden="true"></i></span>
                <span>1</span>
            </div>
            <div class="vote-el">
                <span><i class="fa fa-thermometer-quarter" aria-hidden="true"></i></span>
                <span>2</span>
            </div>
            <div class="vote-el">
                <span><i class="fa fa-thermometer-half" aria-hidden="true"></i></span>
                <span>3</span>
            </div>
            <div class="vote-el">
                <span><i class="fa fa-thermometer-full" aria-hidden="true"></i></span>
                <span>4</span>
            </div>
        </div>
    </section>
</template>