.section-products{
    text-align: center;
    padding: 20px 0;
    background: rgba(186, 190, 228, 0.1);    
}
.section-products h2{
    text-transform: uppercase;
}
.app-img-holder img{
    margin: 0 auto;
    max-width: 530px;
    border-radius: 8px;
}
@media screen and (max-width: 600px) {
    .app-img-sub p{
        padding: 0 20px;
    }
    .app-img-holder img{
        width: 100%;
    }        
}