.header-fixed{
    position: fixed;
    z-index: 10;
    width: 100%;
    color: #fff;
    transition: .5s;
}
.header-fixed.active{
    background: #fff;
    color: #18093C;
    box-shadow: 0 0 8px 2px rgba(50,50,50,0.4);
}
.header-fixed a{
    color: #fff;
}
.header-fixed.active a{
    color: #18093C;
}
.header-container .nav-header ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 50px;
    padding: 0;
    width: 40%;
    margin-left: auto;
    margin-right: 45px;
}

.logo-header-holder{
    display: inline-block;
    width: 20%;
    text-align: center;
}
.logo-header-holder{
    font-family: 'Bungee', cursive;
}
.logo-header-holder i{
    font-size: 20px;
    margin-right: 6px;
}
.nav-header{
    display: inline-block;
    width: 80%;
}
.header-container li{
    display: inline-block;
    align-self: center;
}

@media screen and (max-width: 600px) {
    .header-container{
        height: 0;
        overflow: hidden;
    }
    .header-fixed{
        position: unset;
        height: 50px;
        padding-top: 14px;
        font-size: 18px;
    }
    .logo-header-holder{
        display: block;
        width: 100%;
    }
    .nav-header{
        display: none;
    }
}
