.header-fixed{
    position: fixed;
    z-index: 10;
    width: 100%;
    color: #fff;
    transition: .5s;
}
.header-fixed.active{
    background: #fff;
    color: #18093C;
    box-shadow: 0 0 8px 2px rgba(50,50,50,0.4);
}
.header-fixed a{
    color: #fff;
}
.header-fixed.active a{
    color: #18093C;
}
.menu-btn-holder{
    display: none;
}
.menu-btn:focus,
.menu-btn:active,
.menu-btn:hover{
    outline: none;
}
.header-container .nav-header ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 50px;
    padding: 0;
    width: 40%;
    margin-left: auto;
    margin-right: 45px;
}

.logo-header-holder{
    display: inline-block;
    width: 20%;
    text-align: center;
}
.logo-header-holder{
    font-family: 'Bungee', cursive;
}
.logo-header-holder i{
    font-size: 20px;
    margin-right: 6px;
}
.nav-header{
    display: inline-block;
    width: 80%;
    transition: width .4s;
}
.header-container li{
    display: inline-block;
    align-self: center;
}

@media screen and (max-width: 600px) {
    .header-fixed{
        position: fixed;
        height: 50px;
        padding-top: 14px;
        font-size: 18px;
        background: rgba(0,0,0,0.85);
    }
    .logo-header-holder{
        display: inline-block;
        width: 80%;
    }
    .logo-header-holder i{
        padding-left: 72px;
    }
    .menu-btn-holder{
        width: 20%;
        display: inline-block;
        text-align: right;
    }
    .menu-btn{
        font-size: 24px;
        background: transparent;
        border: none;
        color: #fff;
        padding-right: 16px;
    }
    .nav-header{
        overflow: hidden;
        position: absolute;
        width: 0;
        bottom: 0;
        background: black;
        top: 0;
        height: 100vh;
        display: block;
        right: 0;
        z-index: -1;
    }
    .header-container .nav-header ul{
        height: 100vh;
        width: 100%;
        display: block;
        padding-top: 30px;
    }
    .header-container{
        overflow: hidden;
    }
    .header-container li{
        display: block;
        text-align: center;
        height: 50px;
        min-width: 200px;
        font-size: 20px;
        margin-top: 50px;
    }
}
