 .section-activities{
    /* background: #000; */
    padding-top: 20px;
    text-align: center;
}
.section-activities h2{
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 40px;
    color:#18093C;        
}
.box-activities{
    position: relative;
    width: 33.333%;
    display: inline-block;
    text-align: center;
    margin: 20px;
}
@media screen and (max-width: 600px) {
    .box-activities{
        display: block;
        width: 100%;
        margin: 70px 0;
    }    
}
