.mapa-holder{
    position: relative;
    height: 100vh;
    width: 100vw;
}
.load{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    text-align: center;
    padding-top: 228px;
    display:none;
}
.hospital-name{
    position:absolute;
    background:#fff;
    bottom:0;
    left:0;
    height: 55px;
    padding-top: 12px;
    width: 220px;
    text-align: center;
    border-radius: 8px;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 5px 5px 18px #888;
    color: #c03b2b;
}
.legenda{
    position: absolute;
    background: #fff;
    top: 0;
    right: 0;
    height: auto;
    padding-top: 12px;
    width: 220px;
    text-align: center;
    border-radius: 8px;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 5px 5px 18px #888;
    color: #c03b2b;
    padding-bottom: 11px;
}
.legenda img{
    margin-right: 10px;
}
.legenda .hosp{
    width: 15px;
}
.legenda .paci{
    width: 20px;
}
@media only screen and (max-width: 765px) {
    .legenda{
        display: none;
    }
}